@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: prompt;
    src: url('/fonts/Prompt/Prompt-Regular.ttf');
}

.font-sans {
    font-family: prompt !important;
}

.sweet-title {
    padding-top: 25px !important;
    font-size: 1.15rem !important;
}